# Build directories
build/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# IDE
.vs/
.vscode/
.idea/
.cache/
*.swp
*.swo
*~

# Compiled
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.lib
*.exe

# Module BMIs
*.pcm
*.gcm

# Debug
*.dSYM/
